{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-4">

<h3>เข้าสู่ระบบ</h3>

<form method="post">
{% csrf_token %}

<div class="mb-3">
<label>ชื่อผู้ใช้</label>
<input type="text" name="username" class="form-control">
</div>

<div class="mb-3">
<label>รหัสผ่าน</label>
<input type="password" name="password" class="form-control">
</div>

<button class="btn btn-primary w-100">เข้าสู่ระบบ</button>

</form>

</div>

</div>

{% endblock %}