* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Kanit', sans-serif;
background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container {
    width: 40rem;
    border: 1px solid gray;
    padding: 1rem;
    background: white;
    text-align: center;
    border-radius: 5px;
}
.count{
    font-size: 4rem;
    padding: 0 1rem;
    text-align: center;
}

input[type="text"] {
  display: block;
  font-size: 16px;
  border: 1px solid #dedede;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  outline: none;
}

.title {
  text-align: center;      /* จัดกึ่งกลาง */
  margin-top: 10px;
}

.title h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

.title p {
  font-size: 24px;
  margin: 0;
}

